*.swp
*.dep
linux64GccDPOpt
run/c03/[0-9]*
run/pig2D/[0-9]*
run/pig2D/[0-1]*\.[0-9]*
run/pig2D/[0-1]*\.[0-9]*
run/pig3D/[0-9]*
run/pig3D/[0-1]*\.[0-9]*
run/pig3D/[0-1]*\.[0-9]*
*/*.csv
tags
lnInclude
linux64GccDPProf
gmon.out
sets
points*
faceZones*
faces*
level0Edge*
neighbour*
owner*
boundary*
cellLevel*
pointLevel*
pointZones*
cellZones*
refinementHistory*
extendedFeatureEdgeMesh
surfaceIndex
log.*
*.png
*.csv
*.dat
doc
results
*.eMesh
processor*
STFConfig.h
build
multiphaseEulerModels
testing/*/0.*
testing/*/[1-9]*
src/eigen/build
.ycm_extra_conf.pyc
