*.swp
*.dep
linux64GccDPOpt
linux64GccDPDebug
linux64GccDPProf
lnInclude
*/*.csv
tags
gmon.out
sets
points*
faceZones*
faces*
level0Edge*
neighbour*
owner*
boundary*
cellLevel*
pointLevel*
pointZones*
cellZones*
refinementHistory*
extendedFeatureEdgeMesh
surfaceIndex
log.*
*.png
*.csv
*.dat
doc
results
*.eMesh
processor*
STFConfig.h
build
multiphaseEulerModels
src/eigen/build
.ycm_extra_conf.pyc
PlyParser_FoamFileParser_parsetab.py
__pycache__/
*.pyc
postProcessing
